@import "../../assets/endpoints.scss";
.tags {
    display: flex;
    gap: 1em;
    @include mobile-only {
        gap: 0.5em;
        flex-wrap: wrap;
    }
    &__button {
        background-color: #ff6060;
        border-radius: 15px;
        border: none;
        height: 1.75em;
        font-size: 0.8em;
        color: #ffff;
        text-align: center;
        padding: 5px 10px;
    }
}
