@import "../../assets/endpoints.scss";
.rating {
    display: flex;
    align-items: center;
    .redStar {
        @include mobile-only {
            width: 1.4em;
        }
    }
    .greyStar {
        @include mobile-only {
            width: 1em;
        }
    }
}
