@import "../../assets/endpoints.scss";
.user {
    display: flex;
    align-items: center;
    h3 {
        width: 45%;
        font-size: 1em;
        color: #ff6060;
        font-weight: 500;
        @include mobile-only {
            font-size: 0.7em;
        }
    }
    img {
        border-radius: 50%;
        width: 50%;
        height: 4.5rem;
        @include mobile-only {
            width: 30%;
            height: 2.3rem;
        }
    }
}
