.user {
    display: flex;
    h3 {
        width: 45%;
        font-size: 1em;
        color: #ff6060;
        font-weight: 500;
    }
    img {
        border-radius: 50%;
        width: 50%;
        height: 4.5rem;
    }
}
