@import "../../assets/endpoints.scss";
.card {
    position: relative;
    width: 30%;
    border-radius: 5px;
    margin-bottom: 3em;
    @include mobile-only {
        width: 100%;
    }
    img {
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
        height: 19.3em;
    }
    &__title {
        position: absolute;
        color: white;
        font-weight: 500;
        bottom: 2em;
        left: 4%;
        width: 50%;
    }
}
