@import "../../assets/endpoints.scss";
h1 {
    width: 100%;
    font-size: 1.6rem;
    color: #ff6060;
    font-weight: 600;
    @include mobile-only {
        font-size: 1.5em;
    }
}
h2 {
    font-size: 1rem;
    font-weight: 500;
    @include mobile-only {
        font-size: 0.8em;
    }
}
