@import "../../assets/endpoints.scss";
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
    &__logo {
        img {
            width: 60%;
            @include mobile-only {
                width: 80%;
            }
        }
    }
    &__link {
        display: flex;
        gap: 2em;
        @include mobile-only {
            justify-content: space-between;
            width: 82%;
            gap: 0;
        }
        &--1,
        &--2 {
            text-decoration: none;
            color: #000;

            &:hover {
                text-decoration: underline;
            }
            @include mobile-only {
                text-transform: uppercase;
            }
        }
    }
}
