@import "../../assets/endpoints.scss";
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
    &__logo {
        width: 50%;
        img {
            width: 80%;
            @include mobile-only {
                width: 80%;
            }
        }
    }
    &__link {
        display: flex;
        justify-content: end;
        gap: 10%;
        width: 50%;
        @include mobile-only {
            // width: 82%;
        }
        &__item {
            font-size: 0.9em;
            text-wrap: nowrap;
            text-decoration: none;
            color: #000;

            &:hover {
                text-decoration: underline;
            }
            @include mobile-only {
                text-transform: uppercase;
            }
        }
    }
}
