@import "../../assets/endpoints.scss";
.carousel {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    .arrow {
        z-index: 1;
        position: absolute;
    }
    .arrow_left {
        left: 26px;
        @include mobile-only {
            left: 5%;
            width: 5%;
        }
    }
    .arrow_right {
        right: 26px;
        @include mobile-only {
            right: 5%;
            width: 5%;
        }
    }
    &__slide {
        width: 100%;
        height: 25rem;
        margin: 0 auto;
        object-fit: cover;
        border-radius: 10px;
        @include mobile-only {
            height: 17em;
        }
    }
    &__count {
        color: #ffff;
        position: relative;
        bottom: 3rem;
        font-weight: 600;
        font-family: "Montserrat";
        @include mobile-only {
            display: none;
        }
    }
}
