@import "../../assets/endpoints.scss";
.footer {
    background-color: #000;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1em;
    &__text {
        color: #fff;
        @include mobile-only {
            width: 37%;
            font-size: 0.8em;
            margin-left: 1em;
        }
    }
}
